.sorting {
    display: flex;
    flex-direction: row;
    gap: 70px;
    padding: 15px 17px;
    position: relative;
}

.name {
    font-weight: 500;
    font-size: 12px;
}

.button {
    min-width: 20px;
    max-width: 20px;
    height: 18px;
    background-size: cover;
    cursor: pointer;
    border: none;
    background-image: url("../../../public/sorting.svg");
}
@media screen and (max-width: 480px) {
    .name {
        display: none;
    }
    .sorting{
        gap:0;
    }
}