.header {
    padding: 22px 0 22px 123px;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.logo {
    width: 42px;
    height: 42px;
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 44px;
    color: var(--color-black);
    text-transform: uppercase;
}

.author {
    text-transform: lowercase;
    color: var(--color-black);
}

.author-highlighted {
    color: var(--color-blue);
}

@media screen and (max-width: 480px) {
    .header {
        padding: 22px 0 22px 29px;
    }

    .author {
        display: none;
    }

    .container {
        gap: 26px;
    }
}