.titles {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-left: 80px;
}

.title__item {
    min-width: 100px;
}

.title__item-name {
    margin-right: 220px;
}

.title__item-specialty {
    margin-right: 165px;
    min-width: 132px;
}

.title__item-group {
    margin-right: 43px;
}

.title__item-age {
    margin-right: 40px;
}

.students {
    width: 1180px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.list {
    padding-top: 26px;
    padding-left: 20px;
    padding-right: 17px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.not-found {
    font-size: 15px;
    margin-left: 80px;
    margin-top: 20px;
    color: var(--color-placeholder);
}

@media screen and (max-width: 480px) and (min-width: 1px) {
    .titles {
        display: none;
    }

    .list {
        width: calc(100vw - 40px);
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }

}