.title {

    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100px;
    height: 20px;
    left: 210px;
    top: 322px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.title__item {
    min-width: 100px;
}

.title__item-name {
    margin-right: 220px;
}

.title__item-specialty {
    margin-right: 165px;
    min-width: 132px;
}

.title__item-group {
    margin-right: 43px;
}

.title__item-age {
    margin-right: 40px;
}

.students {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.list {
    padding-top: 26px;
    padding-left: 20px;
    padding-right: 17px;
}